body{
    background-color: #FFFFFF;
    background-image: url(../imagenes/fondo.jpg);
    background-size:cover;
}

#logo{
    position: initial;   
    top: 50px;
    left: 200px; 
}

#menuhoriz{
    text-align:center;
    font-size: large;
}

#menuh {
    font: 80% "Ravie", Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

#menuhoriz ul li {
    display: inline;
    padding: 2px 7px; /*Separar el texto*/
    margin:5px; /* Separar los botones */
    background-color:#E4E4E4; /* Color de fondo */

}

#menuhoriz ul li:hover {
    background-color:#CCCCCC; /* Color de fondo sobre el boton */
    cursor: pointer; /* cambiar el aspecto del puntero */
}

#menuhoriz ul {
    /* Linea para delimitar la botonera */
    border-bottom: #3399FF solid 1px;
}

h1{
    font-family: "comic sans ms";
    color: #000000;
    font-style: italic;
    text-align: center;
}

h2{
    font-family: "comic sans ms";
    color: #000000;
    font-style: italic;
    text-align: left;
}    

#video{
    position: absolute;   
    top: 500px;
    left: 200px; 
}

#loginUser{
    border: 2px #0000CC solid;
    position: absolute;
    top: 400px;
    left: 900px;
    padding: 3px;
}

.inputField{
    width: 200px;
    background: transparent;
    color: #000000;
    padding: 3px;
}

.buttonStyle{
    margin-top: 10px;
    border: 0px;
    border: 2px solid #1100FF;
    width: 200px;
    background: #ffffff;
    color: #1100FF;
    padding: 3px;
    cursor: pointer;
    height: 28px;
}

#clickRegister{
    width: 200px;
    height: 28px;
    position: absolute;
    top: 275px;
    left: 230px;
}

#doRegister{
    position: absolute;
    top: 800px;
    left: 900px;
    padding: 1px;
}

#register{
    position: absolute;
    top: 100;
    left: 100px;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
.contact {
    display:block;
    margin:0 auto;
    width:510px;
    color: #000000;
    font-family:Arial;
    position: absolute;
    top: 350px;
    left: 500px;
}
form {
    margin:0 auto;
    width:400px;
    
}
 
input, textarea {
    width:380px;
    height:27px;
    padding:1px; /*Tamaño caja de texto*/
    margin-top:5px;
    font-size:12px;
    color:#000000;
}
 
textarea {
    height:150px;
}
 
#servicios{
    position: absolute;   
    top: 350px;
    left: 800px; 
}